<!DOCTYPE html>
<html>
    <head>
        <title>
            Voting App
        </title>
        <style>
            nav{
                background-color:aquamarine;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <% include nav.ejs %>
    </body>
</html>