<!DOCTYPE html>
<html>
    <head>
        <title>
            Voting App
        </title>
        <link href = "/assets/style.css" rel = "stylesheet" text = "text/css"/>
    </head>
    <body>
        <% include nav.ejs %>
        <h1 class = 'center'> 
            Welcome to Voting App!
        </h1>
    </body>
</html>