<!DOCTYPE html>
<html>
    <head>
        <title>
            Voting App
        </title>
        <link href = "/assets/style.css" rel = "stylesheet" text = "text/css"/>
    </head>
    <body>
        <% include nav.ejs %>
        <h1 class = 'center'> 
            Welcome to Voting App!
        </h1>
        <div class = "center">
            <h3> Polls: </h3>
            <% if(user){ %>
                <% for(var i = 0; i < data.length; i++){ %>
                    <p>
                        <a style = "color:blueviolet" href = <%=data[i].link%>>
                            <%= data[i].title %> 
                        </a>
                        submitted by <%= data[i].owner %>
                    </p>
                <% } %>
            <% } %>
        </div>
    </body>
</html>