<!DOCTYPE html>
<html>
    <head>
        <title>
            Voting App
        </title>
        <link href = "/assets/style.css" rel = "stylesheet" text = "text/css"/>
    </head>
    <body>
        <% include nav.ejs %>
    </body>
</html>