<!DOCTYPE html>
<html>
    <head>
        <title>
            Login
        </title>
        <link href = "/assets/style.css" rel = "stylesheet" text = "text/css"/>
    </head>
    <body>
        <% include nav.ejs %>
        <div style = "text-align: center">
            <h1> Log in below using Google+</h1>
            <button>Google+</button>
        </div>
    </body>
</html>