<!DOCTYPE html>
<html>
    <head>
        <title>
            Login
        </title>
        <link href = "/assets/style.css" rel = "stylesheet" text = "text/css"/>
    </head>
    <body>
        <% include nav.ejs %>
        <div class = 'center'>
            <h1> Log in below using Google+</h1>
            <button><a href = '/auth/google/'>Google+</a></button>
        </div>
    </body>
</html>