<!DOCTYPE html>
<html>
    <head>
        <title>
            Poll Page!
        </title>
        <link href = "/assets/style.css" rel = "stylesheet" text = "text/css"/>
        <script src="/assets/Chart.js"></script>
    </head>
    <body>
        <% include nav.ejs %>
        <form method = "post" class = "center">
            <h1><%= data.title %></h1> 
            <h2>submitted by <%= data.owner %></h2>
            <table align = "center">
                <% for (var key in data.options[0]) { %>
                    <tr align = "left">
                        <td><input type="radio" name = 'opt' value = <%= key %>></td>
                        <td><%=key%></td>
                    </tr>
                <% } %>
            </table>
            <br/>
            <button class = "viewPoll" name = "submit" type = "submit"> Submit </button>
            <input id = "viewPoll" type = "button" value = "View Poll"> </button>
        </form>
        <canvas id="myChart" width="400" height="400"></canvas>
        <script src = "/assets/renderChart.js"></script>
    </body>
</html>