<!DOCTYPE html>
<html>
    <head>
        <title>
            Poll Page!
        </title>
        <link href = "/assets/style.css" rel = "stylesheet" text = "text/css"/>
    </head>
    <body>
        <% include nav.ejs %>
    </body>
    <div class = "center">
        <div>
            <h1><%= data.title %></h1> submitted by <%= data.owner %>!
        </div>
        <div>
            <% for (var key in data.options[0]) { %>
                <p><input name = "option" type = "radio"> <%= key %> </input></p>
            <% } %>
        </div>
    </div>
</html>