<div>
    <input class = 'textbox' type = 'text' name = 'title' placeholder = 'Title your poll...' />
</div>
<div>
    <input class = 'textbox' type = 'text' name = 'option1' placeholder = 'Option...' />
    <input type = 'button' id = 'option1' value = 'x'/>
</div>
<div>
    <input class = 'textbox' type = 'text' name = 'option2' placeholder = 'Option...' />
    <input type = 'button' id = 'option2' value = 'x'/>
</div>  