<div>
    <input class = 'textbox' type = 'text' name = 'title' placeholder = 'Title your poll...' />
</div>
<div>
    <input class = 'textbox' type = 'text' name = 'option1' placeholder = 'Option...' />
</div>
<div>
    <input class = 'textbox' type = 'text' name = 'option2' placeholder = 'Option...' />
</div>  