<!DOCTYPE html>
<html>
    <head>
        <title>
            Your Profile
        </title>
    </head>
    <body>
        <% include nav.ejs %>
        <h1 class = 'center'>
            Welcome to your profile
        </h1>
        <div class = 'center'>
            Here is a collection of polls you've participated in:
        </div>
    </body>
</html>