<!DOCTYPE html>
<html>
    <head>
        <title>
            Your Profile
        </title>
        <link href = "/assets/style.css" rel = "stylesheet" text = "text/css"/>
    </head>
    <body>
        <% include nav.ejs %>
        <h1 class = 'center'>
            Welcome to your profile, <%= user.username %>!
        </h1>
        <div class = 'center'>
            Here is a collection of polls you've participated in:
            <% for(var i = 0; i < data.polls.length; i++) { %>
                <p> 
                    <a style = "color:black" href = <%= data.links[i] %>>
                        <%= data.polls[i] %>
                    </a>
                </p>
            <% } %>
        </div>
    </body>
</html>