<!DOCTYPE html>
<html>
    <head>
        <title>
            Your Profile
        </title>
        <link href = "/assets/style.css" rel = "stylesheet" text = "text/css"/>
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script src="/assets/deletion.js"></script>
    </head>
    <body>
        <% include nav.ejs %>
        <h1 class = 'center'>
            Welcome to your profile, <%= user.username %>!
        </h1>
        <div class = 'center'>
            <strong>Here is a collection of polls you've created:</strong>
            <table align = "center">
                    <% for (var i = 0; i < data.polls.length; i++) { %>
                        <tr align = "right">
                            <td>                        
                                <a style = "color:black" href = <%= data.links[i] %>>
                                    <%= data.polls[i] %>
                                </a>
                                <input class = 'delete' name = <%= data.links[i] %> type = 'button' value = 'x'></input>
                            </td>
                        </tr>
                    <% } %>
                </table>
        </div>
    </body>
</html>