<!DOCTYPE html>
<html>
    <head>
        <title>
            Poll Results
        </title>
        <script src = '/assets/Chart.js'></script>
        <script src="/assets/randomRgb.js"></script>
    </head>
    <body>
        <canvas id="myChart" width="200" height="200"></canvas>
    </body>
    <script>
        var ctx = document.getElementById("myChart");
            var array = [];
            var options = <%- JSON.stringify(options) %>;
            var votes =<%- JSON.stringify(votes) %>;
            var chart = new Chart(ctx,{
                "type":"pie",
                "data":{
                "labels":options,
                "datasets":[{"label":"My First Dataset","data":votes,"backgroundColor":[random_rgb(),random_rgb()]}]
                }
            });
    </script>
</html>